@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hyundai-dark: #002c5f;
  --hyundai-blue: #00aad2;
  background-color: #ffffff;
  color: #0f172a;
}

/* Failsafe: Paksa Light Mode agar tidak hancur saat HP user pakai Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #ffffff !important;
    color: #0f172a !important;
  }
  body {
    background-color: #f1f5f9 !important;
  }
}

body {
  background-color: #f1f5f9; /* Warna abu-abu di luar kontainer HP */
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

/* Wrapper untuk efek bayangan kontainer mobile */
.mobile-wrapper {
  background-color: #ffffff !important;
  min-height: 100vh;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
